{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
<p style="height:300px;">
    <center>
    <h1>Welcome to The Music Baazar</h1>
    <h3 class="text-muted">Bienvenido a The Music Bazaar</h1>
        <div>
            <img src="{% static 'images/MusicBaazar.png' %}" style="height:556px; width: 496px" alt="...">
        </div>
        
    </center>
</p>
</section>
{% endblock %}
<!-- ================================
End Content
================================= -->
